body {
  background-color: burlywood;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
}

h1 {
  color: coral;
}

a {
  color: aquamarine;
}
